* {
    box-sizing: border-box;
}

:root {
    font-family: 'Geist Mono', monospace;
    scroll-behavior: smooth;
    color-scheme: dark;
}


.title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}

.title_email {
    color: #fff6;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px;
    display: block;
    transition: color 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        color: white;
    }
}

body {
    color-scheme: dark;
    background: #000000;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.columns {
    display: grid;
    padding-bottom: 10rem;
    background: black;

    &>div {
        padding: 0.5rem;
    }
}

@media (min-width: 940px) {
    .columns {
        grid-template-columns: repeat(3, 1fr);
    }
}

.hoverable {
    & .hiddable {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover .hiddable {
        opacity: 1;
    }
}

.employment-history>div {
    display: grid;
    grid-template-columns: 3rem 10rem 1fr;
    margin-top: 0.4rem;
    font-size: 0.8rem;

    & :nth-child(1) {
        color: #fff6;
        font-weight: 300;
    }

    & :nth-child(2) {
        font-weight: 500;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.6;
        }
    }

    & :nth-child(3) {
        color: #fff8;
    }
}

.skills {
    padding-top: 285px;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
}

.gray {
    color: #fff6;
}

.rotating-image {
    width: 200px;
    height: 200px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hero {
    position: fixed;
    inset: 0;
}

.gear {
    opacity: 0.2;
    filter: saturate(0);
    position: fixed;
    top: 200px;
    left: calc(33% - 100px);
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    z-index: 100;

    &:hover {
        transform: scale(1.05);
    }
}

.mvcharity {
    width: 600px;
    height: auto;
}

.about {
    position: relative;
    z-index: 2;
}

.headers {
    position: sticky;
    top: 0;
    padding-bottom: 0px;
    padding-top: .8rem;
    background: #0006;
    backdrop-filter: blur(10px);
}

.about-content {
    height: 2000px;
}

.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background: #fff;
    z-index: 100;
}